{% extends 'base.html.twig' %}

{% block title %}TODO {{ controller_name }}!{% endblock %}

{% block body %}
    <section>
        <h1>Api task list (TODO)</h1>

        <p>Rest app build in Api-Platform

        <p><a href="{{ path('api_entrypoint') }}">Documentation, examples and try it.</a>
    </section>

{% endblock %}
